replicaCount: 1

image:
  repository: {{.Name}}
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: {{.Port}}

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 15
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /readyz
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
