apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secret-example.yaml
{{- if eq (printf "%s" .Controller.Type) "argocd"}}
generators:
  # Uncomment after installing KSOPS:
  # - ksops-generator.yaml
{{- end}}
